
# 大文件（避免推送到 GitHub 导致失败）
model.bin
*.mp4
*.srt

# 配置文件（可选，看你是否需要上传）
# config.json
# tokenizer.json
# vocabulary.txt


# 环境变量（密钥）
.env
.env.local
.env.*

# Python 缓存、编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 临时文件、日志
temp_*
*.log

# 模型、大文件（可选，根据你项目情况）
*.bin
*.onnx

# 系统文件
.DS_Store
Thumbs.db